@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-ExtraBold.woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-SemiBold.woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Book.woff2");
  font-weight: 350;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("https://vosca.dev/fonts/JetBrainsSans-Light.woff2");
  font-weight: 300;
  font-display: swap;
}
html {
  --dark-gray: #1e1f22;
  --almost-black: #1a1a1a;
  --gray-22: #222226;
  --gray-24: #242424;
  --gray-32: #323438;
  --gray-3a: #3a3a3a;
  --gray-3b: #3b3c3c;
  --gray-5a: #5a5a5c;
  --gray-7e: #7e7e80;
  --gray-be: #bebebf;
  --gray-cb: #cbc9c9;
  --gray-ef: #efefef;
  --gray-ec: #ecedf1;
  --gray-e0: #e0e0e0;
  --gray-87: rgba(255, 255, 255, .87);
  --gray-f9: #f9f9f9;
  --dark-transparent-gray: rgba(25, 25, 28, .7);
  --background-transparent-gray: rgba(30, 31, 34, .7);
  --semi-dark-transparent-gray: rgba(0, 0, 0, 0.32);
  --light-transparent-gray: rgba(255, 255, 255, 0.05);
  --light-dark-transparent-gray: rgba(0, 0, 0, 0.05);
  --background-light-transparent-gray: rgba(255, 255, 255, .7);
  --light-white: #f3f3f3;
  --white: #fff;
  --black: #000;
  --blue: #3890fa;
  --dark-blue: #0969da;
  --light-salat-green: #AFBF7E;
  --light-green: rgb(77, 187, 95);
  --dark-transparent-green: rgba(77, 187, 95, 0.2);
  --orange: rgb(244, 92, 75);
  --dark-transparent-orange: rgba(244, 92, 74, 0.2);
  --brand-color: #ff6b00;
  --brand-color-dark: #cc5307;
}

html {
  --main-color: var(--white);
  --background-color: var(--main-color);
  --border-color: var(--gray-e0);
  --divider-color: var(--gray-e0);
  --text-color: var(--black);
  --secondary-color: var(--gray-7e);
  --scrollbar-thumb-color: var(--gray-ef);
  --header-background-color: var(--main-color);
  --header-transparent-background-color: var(--background-light-transparent-gray);
  --footer-background-color: var(--main-color);
  --overlay-background-color: var(--semi-dark-transparent-gray);
  --aside-background-color: var(--gray-f9);
  --aside-link-text-color: var(--gray-5a);
  --aside-link-text-color-hover: var(--text-color);
  --aside-link-text-color-active: var(--brand-color);
  --inline-code-background-color: var(--gray-f9);
  --inline-code-text-color: var(--text-color);
  --block-code-background-color: var(--white);
  --block-code-border-color: var(--gray-ec);
  --block-code-text-color: var(--black);
  --blockquote-text-color: var(--dark-transparent-gray);
  --blockquote-note-background-color: var(--dark-transparent-green);
  --blockquote-note-icon-color: var(--light-green);
  --blockquote-tip-background-color: var(--light-dark-transparent-gray);
  --blockquote-tip-icon-color: var(--gray-5a);
  --blockquote-warning-background-color: var(--dark-transparent-orange);
  --blockquote-warning-icon-color: var(--orange);
  --tag-unsafe-color: var(--brand-color);
  --tag-deprecated-color: var(--gray-be);
  --button-hover-background-color: var(--gray-ec);
  --keyword-color: #0033b3;
  --comment-color: #8c8c8c;
  --number-color: #1750eb;
  --string-color: #067d17;
  --search-button-background-color: var(--gray-f9);
  --search-button-hover-border-color: var(--brand-color);
  --search-button-text-color: var(--gray-7e);
  --search-input-placeholder-color: var(--gray-be);
  --search-labels-text-color: var(--gray-7e);
  --search-result-active-background-color: var(--brand-color);
  --search-result-active-text-color: var(--text-color);
  --search-result-footer-hint-text-color: var(--gray-7e);
  --search-result-footer-hint-key-background-color: var(--gray-ef);
  --search-result-footer-hint-keytext-color: var(--gray-3b);
  --symbol-ref-link-color: var(--brand-color-dark);
  --symbol-ref-underline: none;
  --symbol-ref-hover-color: var(--symbol-ref-link-color);
  --module-ref-link-color: var(--brand-color-dark);
  --playground-header-background-color: var(--white);
  --tools-background-color: var(--white);
}

html[data-theme=dark] {
  --main-color: var(--dark-gray);
  --background-color: var(--main-color);
  --border-color: var(--gray-3a);
  --divider-color: var(--gray-3a);
  --text-color: var(--gray-87);
  --secondary-color: var(--gray-be);
  --scrollbar-thumb-color: var(--gray-32);
  --header-background-color: var(--main-color);
  --header-transparent-background-color: var(--background-transparent-gray);
  --footer-background-color: var(--main-color);
  --overlay-background-color: var(--semi-dark-transparent-gray);
  --aside-background-color: var(--almost-black);
  --aside-link-text-color: var(--gray-be);
  --aside-link-text-color-hover: var(--text-color);
  --aside-link-text-color-active: var(--brand-color);
  --inline-code-background-color: var(--gray-3b);
  --inline-code-text-color: var(--text-color);
  --block-code-background-color: var(--almost-black);
  --block-code-border-color: var(--gray-32);
  --block-code-text-color: var(--gray-be);
  --blockquote-text-color: var(--gray-be);
  --blockquote-note-background-color: var(--dark-transparent-green);
  --blockquote-note-icon-color: var(--light-green);
  --blockquote-tip-background-color: var(--light-transparent-gray);
  --blockquote-tip-icon-color: var(--gray-be);
  --blockquote-warning-background-color: var(--dark-transparent-orange);
  --blockquote-warning-icon-color: var(--orange);
  --tag-unsafe-color: var(--brand-color);
  --tag-deprecated-color: var(--gray-be);
  --button-hover-background-color: var(--gray-32);
  --search-button-background-color: var(--almost-black);
  --search-button-hover-border-color: var(--brand-color);
  --search-button-text-color: var(--gray-be);
  --search-input-placeholder-color: var(--gray-5a);
  --search-labels-text-color: var(--gray-5a);
  --search-result-active-background-color: var(--brand-color);
  --search-result-active-text-color: var(--text-color);
  --search-result-footer-hint-text-color: var(--gray-5a);
  --search-result-footer-hint-key-background-color: var(--gray-22);
  --search-result-footer-hint-keytext-color: var(--gray-be);
  --keyword-color: #cc7832;
  --comment-color: gray;
  --number-color: #2AACB8;
  --string-color: #6AAB73;
  --symbol-ref-link-color: var(--keyword-color);
  --symbol-ref-underline: underline;
  --symbol-ref-hover-color: var(--keyword-color);
  --module-ref-link-color: var(--light-salat-green);
  --playground-header-background-color: var(--gray-24);
  --tools-background-color: var(--dark-gray);
}

.close-button {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 8px;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}
.close-button:hover {
  background-color: var(--button-hover-background-color);
}
.close-button:hover:active {
  background-color: var(--button-hover-background-color);
}
.close-button svg {
  width: 100%;
  height: 100%;
}
.close-button svg .icon-stroke {
  stroke: var(--text-color);
}

html {
  --sub-menu-border-color: none;
}

html[data-theme=dark] {
  --sub-menu-border-color: var(--border-color);
}

.header-component.underline header {
  border-bottom: 1px solid var(--divider-color);
}
.header-component.fixed header {
  position: fixed;
  top: 0;
  left: 0;
}
.header-component.transparent-desktop header {
  -webkit-backdrop-filter: saturate(50%) blur(8px);
  backdrop-filter: saturate(50%) blur(8px);
  background: var(--header-transparent-background-color);
}
@media (max-width: 1000px) {
  .header-component.transparent-desktop header {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background: var(--header-background-color);
  }
}
.header-component.no-change-theme .change-theme {
  display: none !important;
}
.header-component.no-change-theme .main-header-list .navigation-item:nth-last-child(-n+2) {
  margin-right: 0 !important;
}
.header-component.no-search-button .header-container button.search {
  display: none !important;
}
.header-component.with-button-before-logo .header-container {
  grid-template-columns: max-content auto max-content;
  grid-column-gap: 10px;
}
.header-component.with-button-before-logo .mobile-header-list-before-logo {
  display: block;
}
@media (min-width: 1000px) {
  .header-component.with-search-desktop .search-container {
    display: block;
  }
  .header-component.with-search-desktop .header-container {
    grid-template-columns: 320px auto max-content;
    grid-column-gap: 10px;
  }
}
@media (min-width: 1000px) {
  .header-component.search-desktop-after-logo .search-container {
    margin-left: 30px;
  }
  .header-component.search-desktop-after-logo .header-container {
    grid-template-columns: max-content auto max-content;
    grid-column-gap: 10px;
  }
}

header {
  height: 70px;
  width: 100%;
  z-index: 997;
  font: 400 14px/1.5 "JetBrainsSans", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid var(--header-background-color);
  background: var(--header-background-color);
}
@media (max-width: 1000px) {
  header {
    width: 100vw;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background: var(--header-background-color);
  }
}
header .header-container {
  padding: 0 50px;
  height: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
}
@media (max-width: 1000px) {
  header .header-container {
    padding: 0 20px;
  }
}
header .header-container .logo {
  display: grid;
  align-items: center;
  grid-template-columns: max-content max-content;
  grid-column-gap: 10px;
  margin-top: 2px;
}
@media (max-width: 1000px) {
  header .header-container .logo {
    display: none;
  }
}
header .header-container .logo a {
  display: grid;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}
header .header-container .logo span {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
}
header .header-container .logo .separator {
  margin-left: 2px;
  margin-right: 7px;
}
header .header-container .logo img {
  width: 25px;
}
header .header-container .search-container {
  display: none;
}
header .header-container .search-container .search-button {
  padding: 10px 20px 10px 17px;
  background-color: var(--search-button-background-color);
  border: 1px solid var(--search-button-background-color);
  outline: none;
  border-radius: 8px;
  color: var(--search-button-text-color);
  transition: border-color 0.25s;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
}
header .header-container .search-container .search-button:hover {
  cursor: pointer;
  border: 1px solid var(--search-button-hover-border-color);
}
header .header-container .search-container .search-button .search-icon {
  margin-right: 5px;
}
header .header-container .search-container .search-button .search-icon svg {
  display: block;
  width: 20px;
  height: 20px;
}
header .header-container .search-container .search-button .search-icon .icon-stroke {
  stroke: var(--search-button-text-color);
}
header .header-container .search-container .search-button .search-icon .icon-data {
  fill: var(--search-button-text-color);
}
header .header-container .search-container .search-button .search-label {
  margin-right: 10px;
}
header .header-container .search-container .search-button .shortcut {
  font-size: 12px;
  padding: 3px 5px 3px;
  border: 1px solid var(--divider-color);
  border-radius: 5px;
}
header .header-container .mobile-header-logo {
  align-items: center;
  grid-template-columns: max-content max-content;
  grid-column-gap: 10px;
  margin-top: 2px;
  display: none;
}
@media (max-width: 1000px) {
  header .header-container .mobile-header-logo {
    display: grid;
  }
}
header .header-container .mobile-header-logo a {
  display: grid;
  align-items: center;
}
header .header-container .mobile-header-logo span.title {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
}
header .header-container .mobile-header-logo a.title {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}
header .header-container .mobile-header-logo img {
  width: 30px;
}
header .header-container ul {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  list-style: none;
  padding: 0;
  margin: 2px 0 0 0;
  justify-self: end;
  align-items: center;
}
@media (max-width: 1000px) {
  header .header-container ul.main-header-list {
    display: none;
  }
}
header .header-container ul.main-header-list .change-theme {
  margin: 0 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header .header-container ul.main-header-list .change-theme:active:hover svg {
  width: 88%;
}
header .header-container ul.main-header-list .change-theme:hover {
  cursor: pointer;
}
header .header-container ul.main-header-list .change-theme:hover svg path {
  fill: var(--secondary-color);
}
header .header-container ul.main-header-list .change-theme svg {
  width: 18px;
  height: 18px;
}
header .header-container ul.main-header-list .change-theme svg path {
  fill: var(--text-color);
}
header .header-container ul.main-header-list li {
  margin: 0 10px;
}
@media (min-width: 1000px) {
  header .header-container .mobile-header-list {
    display: none;
  }
}
header .header-container .mobile-header-list.mobile-header-list-before-logo {
  display: none;
}
header .header-container .mobile-header-list button {
  position: relative;
  background: none;
  border: none;
  outline: none;
  padding: 5px;
  margin: 0 0 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 8px;
}
header .header-container .mobile-header-list button:active:hover {
  background-color: var(--button-hover-background-color);
}
header .header-container .mobile-header-list button svg {
  width: 100%;
  height: 100%;
}
header .header-container .mobile-header-list button svg .icon-data {
  fill: var(--text-color);
}
header .header-container .mobile-header-list button svg .icon-stroke {
  stroke: var(--text-color);
}

li.navigation-item {
  position: relative;
}
li.navigation-item a, li.navigation-item span {
  color: var(--secondary-color);
  text-decoration: none;
}
li.navigation-item a:hover, li.navigation-item span:hover {
  cursor: pointer;
  color: var(--text-color);
}
li.navigation-item a:hover.with-icon svg .icon-data, li.navigation-item span:hover.with-icon svg .icon-data {
  fill: var(--text-color);
}
li.navigation-item a.active, li.navigation-item span.active {
  color: var(--brand-color);
}
li.navigation-item a.with-icon, li.navigation-item span.with-icon {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 4px;
  align-items: center;
}
@media (max-width: 1000px) {
  li.navigation-item a.with-icon, li.navigation-item span.with-icon {
    margin-left: -20px;
  }
}
li.navigation-item a.with-icon svg, li.navigation-item span.with-icon svg {
  width: 13px;
}
li.navigation-item a.with-icon svg .icon-data, li.navigation-item span.with-icon svg .icon-data {
  fill: var(--secondary-color);
}
li.navigation-item.with-items ul.sub-menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  padding: 12px 40px 12px 18px;
  margin: 0;
  list-style: none;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  background-color: var(--background-color);
  border: 1px solid var(--sub-menu-border-color);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
  transform: translateY(10px);
}
li.navigation-item.with-items ul.sub-menu.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(30px);
}
li.navigation-item.with-items ul.sub-menu li {
  margin: 0;
  padding: 0 0 6px;
}
li.navigation-item.with-items ul.sub-menu li:last-child {
  padding-bottom: 0;
}
li.navigation-item.with-items ul.sub-menu li a {
  user-input: none;
  color: var(--secondary-color);
  text-decoration: none;
}
li.navigation-item.with-items ul.sub-menu li a:hover {
  cursor: pointer;
  color: var(--text-color);
}
li.navigation-item.with-items ul.sub-menu li a.active {
  color: var(--brand-color);
}

aside.mobile-header-aside {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 20px 15px 30px 40px;
  background-color: var(--aside-background-color);
  z-index: 1000;
  transform: translateX(100%);
  transition: opacity 0.25s, transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
aside.mobile-header-aside.open {
  transform: translateX(0);
}
aside.mobile-header-aside .close-button-wrapper {
  display: grid;
  justify-items: end;
}
aside.mobile-header-aside ul.aside-navigation {
  padding: 10px 100px 0 0;
  margin: 0;
  list-style: none;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item {
  margin: 10px 0;
  font-size: 16px;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item.with-mobile-items ul.sub-menu {
  margin: 10px 0;
  list-style: none;
  padding-left: 20px;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item.with-mobile-items ul.sub-menu li {
  padding: 0 0 10px;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item.with-mobile-items ul.sub-menu li:last-child {
  padding-bottom: 0;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item span.with-icon {
  grid-column-gap: 6px;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item a {
  color: var(--secondary-color);
  text-decoration: none;
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item a:hover {
  cursor: pointer;
  color: var(--text-color);
}
aside.mobile-header-aside ul.aside-navigation li.navigation-item a.active {
  color: var(--brand-color);
}

aside.mobile-header-aside.open + .header-mobile-overlay {
  visibility: visible;
  background-color: var(--overlay-background-color);
  opacity: 1;
}

.header-mobile-overlay, .search-overlay {
  display: block;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s;
}

.search-window {
  display: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
}
.search-window.open {
  display: grid;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.search-window .search-form {
  display: grid;
  grid-template-rows: max-content max-content auto max-content;
  grid-row-gap: 10px;
  pointer-events: all;
  width: 550px;
  height: max-content;
  min-height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--divider-color);
  margin: 75px auto 0;
  padding: 10px 10px 0;
  background-color: var(--aside-background-color);
}
@media (max-width: 1000px) {
  .search-window .search-form {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    border-radius: 0;
    border: none;
    grid-template-rows: max-content max-content auto;
  }
}
.search-window .search-form .search-header {
  display: grid;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-header {
    grid-template-columns: auto max-content;
    grid-column-gap: 20px;
    align-items: center;
  }
}
.search-window .search-form .search-header .close-search-button {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 16px;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-header .close-search-button {
    display: block;
  }
}
.search-window .search-form .search-input {
  border: 1px solid var(--brand-color);
  border-radius: 5px;
  padding: 0 15px;
  display: grid;
  align-items: center;
  grid-template-columns: max-content auto max-content;
}
.search-window .search-form .search-input label .icon svg {
  margin-top: 5px;
  width: 25px;
  height: 25px;
}
.search-window .search-form .search-input label .icon svg .icon-stroke {
  stroke: var(--search-button-text-color);
}
.search-window .search-form .search-input label .icon svg .icon-data {
  fill: var(--search-button-text-color);
}
.search-window .search-form .search-input input {
  width: 100%;
  height: 40px;
  padding: 30px 20px 30px 10px;
  outline: none;
  border: none;
  font-size: 17px;
  color: var(--text-color);
  background-color: var(--input-background-color);
}
.search-window .search-form .search-input input::placeholder {
  color: var(--search-input-placeholder-color);
}
.search-window .search-form .search-input .clear-input {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
}
.search-window .search-form .search-input .clear-input.show {
  display: block;
}
.search-window .search-form .search-place {
  display: flex;
  align-items: center;
}
.search-window .search-form .search-place .search-in-label {
  font-size: 13px;
  color: var(--search-labels-text-color);
  margin-right: 20px;
}
.search-window .search-form .search-place ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  column-gap: 20px;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-place ul {
    column-gap: 10px;
  }
}
.search-window .search-form .search-place ul li.search-place-item input {
  display: none;
}
.search-window .search-form .search-place ul li.search-place-item input:checked + label {
  border-bottom: 2px solid var(--brand-color);
}
.search-window .search-form .search-place ul li.search-place-item label:hover {
  cursor: pointer;
}
.search-window .search-form .search-results {
  height: 100%;
  max-height: 483px;
  overflow-y: scroll;
  display: grid;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-results {
    max-height: 100%;
  }
}
.search-window .search-form .search-results.no-results-found {
  align-items: center;
  justify-items: center;
}
.search-window .search-form .search-results.no-results-found .no-results-found {
  display: block;
}
.search-window .search-form .search-results.no-results-found .search-results-list {
  display: none;
}
.search-window .search-form .search-results.with-caption {
  align-items: center;
  justify-items: center;
}
.search-window .search-form .search-results.with-caption .caption {
  display: block;
}
.search-window .search-form .search-results.with-caption .search-results-list {
  display: none;
}
.search-window .search-form .search-results .search-results-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.search-window .search-form .search-results .search-results-list .search-result[aria-selected=true] .search-result-content {
  border: 1px dashed var(--search-result-active-background-color);
  color: var(--search-result-active-text-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content {
  display: grid;
  grid-template-columns: 30px auto;
  column-gap: 5px;
  align-items: center;
  padding: 20px 20px 20px 10px;
  margin-bottom: 5px;
  text-decoration: none;
  border: 1px solid var(--divider-color);
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content:hover {
  cursor: pointer;
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-icon svg path {
  stroke: var(--text-color);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-wrapper {
  display: grid;
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-wrapper .search-highlight {
  font-weight: 600;
  color: var(--brand-color);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-wrapper .title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}
.search-window .search-form .search-results .search-results-list .search-result .search-result-content .content-wrapper .description {
  font-size: 14px;
  color: var(--secondary-color);
  text-decoration: none;
}
.search-window .search-form .search-results .caption {
  display: none;
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
  color: var(--secondary-color);
}
.search-window .search-form .search-results .caption .search-sentence {
  font-weight: 600;
}
@media (max-width: 1000px) {
  .search-window .search-form .search-footer {
    display: none;
  }
}
.search-window .search-form .search-footer .search-footer-content {
  padding: 0 5px;
}
.search-window .search-form .search-footer .search-footer-content .search-hints {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 15px;
  align-items: center;
  margin: 10px 0;
}
.search-window .search-form .search-footer .search-footer-content .search-hints .search-hint {
  font-size: 13px;
  color: var(--search-result-footer-hint-text-color);
}
.search-window .search-form .search-footer .search-footer-content .search-hints .search-hint .search-key {
  font-weight: 600;
  padding: 3px 7px;
  border-radius: 3px;
  background-color: var(--search-result-footer-hint-key-background-color);
  color: var(--search-result-footer-hint-keytext-color);
}

.search-window.open + .search-overlay {
  visibility: visible;
  background-color: var(--overlay-background-color);
  opacity: 1;
}

footer {
  width: 100%;
  padding: 50px 50px 80px;
  margin-top: 30px;
  background-color: var(--footer-background-color);
}
footer.underline {
  border-top: 1px solid var(--border-color);
}
@media (max-width: 1000px) {
  footer {
    padding: 40px 30px 50px;
  }
}
footer .footer-container {
  margin: 0 auto;
  font-size: 14px;
}
footer .footer-container nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 50px;
}
@media (max-width: 650px) {
  footer .footer-container nav {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
  }
}
footer .footer-container nav .column .title {
  font-weight: 600;
  margin-bottom: 20px;
}
footer .footer-container nav .column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 10px;
  row-gap: 10px;
}
footer .footer-container nav .column ul li {
  margin-bottom: 8px;
}
footer .footer-container nav .column ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 14px;
}
footer .footer-container nav .column ul li a:hover {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  cursor: pointer;
}
footer .footer-container .footer-bottom {
  padding-top: 30px;
  border-top: 1px solid var(--border-color);
}
footer .footer-container .footer-bottom .social-links {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 30px;
  column-gap: 5px;
}
footer .footer-container .footer-bottom .social-links a {
  font-size: 12px;
  margin-right: 10px;
}
footer .footer-container .footer-bottom .social-links a:hover svg path {
  fill: var(--brand-color);
}
footer .footer-container .footer-bottom .social-links a svg path {
  fill: var(--secondary-color);
}
footer .footer-container .footer-bottom .copyright-line {
  margin-bottom: 0;
  font-size: 12px;
  color: var(--secondary-color);
}

.page-404 {
  margin: 100px 0 100px 0;
}
@media (max-width: 1000px) {
  .page-404 {
    margin: 80px 0 80px 0;
  }
}
.page-404 h1 {
  font-weight: 800;
  font-size: 150px;
  margin-bottom: 20px;
  line-height: 1;
  background: linear-gradient(261.61deg, #4CF1FD -0.81%, #0176D1 98.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.page-404 p {
  font-size: 18px;
  margin: 0;
}
.page-404 a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--text-color);
}
.page-404 a:hover {
  border-bottom: 2px solid var(--text-color);
}
.page-404 a:visited {
  color: var(--text-color);
}

.single-block {
  margin-bottom: 40px;
}
.single-block a {
  color: inherit;
  height: max-content;
  text-decoration: none;
  box-shadow: 0 1px 0 0 currentColor;
  transition: box-shadow 0.15s ease-in-out;
}
.single-block a.article-card {
  box-shadow: none;
}
.single-block a.article-card:hover {
  box-shadow: none;
}
.single-block a:hover {
  color: var(--text-color);
  box-shadow: 0 2px 0 0 var(--text-color);
}
.single-block h2 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 30px;
}

.email-block {
  width: calc(100% + 100px);
  padding: 60px 50px 50px;
  margin: 0 -50px -80px;
  color: var(--white);
  background: linear-gradient(261.61deg, #4CF1FD -0.81%, #0176D1 98.3%);
}
@media (max-width: 1000px) {
  .email-block {
    width: calc(100% + 60px);
    margin: 0 -30px -80px;
    padding: 50px 30px 50px;
  }
}
.email-block .email {
  font-size: 60px;
}
@media (max-width: 1000px) {
  .email-block .email {
    font-size: 50px;
  }
}
@media (max-width: 800px) {
  .email-block .email {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .email-block .email {
    font-size: 25px;
  }
}
.email-block .email a {
  color: var(--white);
  text-decoration: none;
}
.email-block .email a:hover {
  border-bottom: 3px solid var(--white);
}
.email-block .email a:visited {
  color: var(--white);
}

.supporters-block {
  margin-bottom: 60px;
}
.supporters-block .note {
  color: var(--secondary-color);
}

html {
  --post-background-color: var(--white);
  --pinned-article-background-color: var(--white);
  --article-card-hover-border-color: var(--gray-7e);
}

html[data-theme=dark] {
  --post-background-color: var(--background-color);
  --pinned-article-background-color: var(--background-color);
  --article-card-hover-border-color: var(--gray-7e);
}

.pinned-article {
  width: 100%;
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  .pinned-article {
    margin-bottom: 0;
  }
}
.pinned-article .article-content {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--pinned-article-background-color);
}
@media (max-width: 1000px) {
  .pinned-article .article-content {
    grid-template-columns: auto;
  }
}
.pinned-article .article-content img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 8px;
}
.pinned-article .article-content .information {
  padding: 30px;
}
@media (max-width: 1000px) {
  .pinned-article .article-content .information {
    padding: 30px 0;
  }
}
.pinned-article .article-content .information .title {
  margin-top: 0;
  margin-bottom: 10px;
}
.pinned-article .article-content .information .title a {
  font-size: 30px;
  color: var(--title-color);
  text-decoration: none;
}
.pinned-article .article-content .information .description {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: var(--secondary-color);
}
.pinned-article .article-content .information a {
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
}
.pinned-article .article-content .information .read-article-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.article-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  column-gap: 35px;
  row-gap: 30px;
  margin-bottom: 20px;
}

.article-card {
  width: 300px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 10px 15px 20px;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--post-background-color);
  display: grid;
  grid-template-rows: max-content max-content max-content auto max-content max-content;
  transition: border 0.25s;
}
@media (max-width: 680px) {
  .article-card {
    width: 100%;
  }
}
.article-card:visited {
  color: var(--text-color);
}
.article-card:hover {
  color: var(--text-color);
  text-decoration: none;
  border: 1px solid var(--article-card-hover-border-color);
}
.article-card.pinned {
  width: 100%;
}
.article-card.latest {
  width: 100%;
}
.article-card .image {
  width: calc(100% + 30px);
  height: 150px;
  border-radius: 8px 8px 0 0;
  background-color: var(--secondary-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-top: -10px;
  margin-left: -15px;
  margin-bottom: 10px;
}
.article-card .image img {
  width: 101%;
  height: 100%;
  object-fit: cover;
}
.article-card .date {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--secondary-color);
  font-size: 13px;
  font-family: "JetBrains Mono", monospace;
}
.article-card .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.4;
  color: var(--title-color);
}
.article-card .title a {
  color: var(--title-color);
  text-decoration: none;
}
.article-card .description {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
  color: var(--secondary-color);
}
.article-card .author {
  display: grid;
  grid-template-columns: 30px auto;
  grid-column-gap: 2px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 13px;
  color: var(--secondary-color);
  height: max-content;
}
.article-card .author .avatar {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
}
.article-card .author .avatar img {
  width: 100%;
  height: 101%;
  object-fit: cover;
}

html {
  --playground-background-color: var(--background-color);
}

html[data-theme=dark] {
  --playground-background-color: var(--almost-black);
}

.playground-block {
  position: relative;
}
.playground-block .playground-wrapper {
  width: 100%;
  margin-top: -10px;
}
.playground-block .playground-wrapper .playground__wrapper {
  border-radius: 10px;
  background-color: var(--playground-background-color);
  overflow: hidden;
}
.playground-block .playground-wrapper .playground__wrapper .playground__editor {
  --background-color: var(--playground-background-color);
}
.playground-block .playground-wrapper .playground__wrapper .playground__editor .run-style-button {
  margin-top: 6px;
}

* {
  box-sizing: border-box;
}

html {
  --border-button-background-hover-color: var(--gray-f9);
}

html[data-theme=dark] {
  color-scheme: dark;
  --border-button-background-hover-color: var(--light-transparent-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  margin: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

body {
  font: 400 14px/1.5 "JetBrainsSans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 70px 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  width: 100%;
  padding: 50px 50px;
  display: grid;
}
@media (max-width: 1000px) {
  main {
    padding: 50px 30px;
  }
}
main .first-page {
  padding: 20px 0 80px;
}
@media (max-width: 1000px) {
  main .first-page {
    padding-bottom: 100px;
  }
}
main .first-page .title {
  font-size: 80px;
  line-height: 1.1;
  margin-bottom: 20px;
}
@media (max-width: 380px) {
  main .first-page .title {
    font-size: 40px;
  }
}
@media (max-width: 430px) and (min-width: 380px) {
  main .first-page .title {
    font-size: 45px;
  }
}
@media (max-width: 500px) and (min-width: 430px) {
  main .first-page .title {
    font-size: 50px;
  }
}
@media (max-width: 700px) and (min-width: 500px) {
  main .first-page .title {
    font-size: 60px;
  }
}
@media (max-width: 1000px) {
  main .first-page .title .second-line {
    background: linear-gradient(357deg, #4CF1FD -0.81%, #0176D1 98.3%) !important;
    -webkit-background-clip: text !important;
  }
}
main .first-page .title .first-line {
  display: block;
  font-weight: 400;
}
main .first-page .title .second-line {
  font-weight: 900;
  background: linear-gradient(261.61deg, #4CF1FD -0.81%, #0176D1 98.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
main .first-page .subtitle {
  display: block;
  font-size: 17px;
  margin-bottom: 60px;
  margin-left: 5px;
  color: var(--secondary-color);
}
main .first-page .subtitle a {
  color: var(--secondary-color);
  text-decoration: none;
  border-bottom: 1px solid var(--secondary-color);
}
main .first-page .subtitle a:hover {
  color: var(--text-color) !important;
  border-bottom: 1px solid var(--text-color);
}
main .first-page .subtitle a:visited {
  color: var(--secondary-color);
}
main .first-page .buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
main .first-page .buttons a {
  padding: 15px 30px 15px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
  line-height: 1;
}
main .first-page .buttons a.with-arrow {
  display: grid;
  grid-template-columns: max-content max-content;
}
main .first-page .buttons a:hover .arrow {
  transform: translateX(13px);
}
main .first-page .buttons a .arrow {
  display: block;
  transition: 0.15s ease-in-out;
  transform: translateX(8px);
}
main .first-page .buttons a.gradient {
  padding-top: 15px;
  background: linear-gradient(261.61deg, #21a3e1 -0.81%, #0176D1 98.3%);
  color: var(--white);
  transition: box-shadow 0.15s ease-in-out;
}
main .first-page .buttons a.border {
  padding: 14px 30px 12px;
  position: relative;
  display: block;
  transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
  border: 1px solid var(--secondary-color);
  font-weight: 500;
}
main .first-page .buttons a.border:hover {
  background-color: var(--border-button-background-hover-color);
}

/*# sourceMappingURL=index.css.map */
