<footer class="underline">
    <div class="footer-container">
        <nav>
            <div class="column documentation-column">
                <div class="title">Documentation</div>
                <ul>
                    <li><a href="https://docs.vlang.foundation">Language</a></li>
                    <li><a href="https://modules.vlang.foundation">Standard Library</a></li>
                    <li><a href="https://specs.vlang.foundation">Specification</a></li>
                </ul>
            </div>
            <div class="column learn-column">
                <div class="title">Learn</div>
                <ul>
                    <li><a href="https://learn.vlang.foundation">Vings</a></li>
                </ul>
            </div>
            <div class="column blog-column">
                <div class="title">Blog</div>
                <ul>
                    <li><a href="https://blogs.vlang.foundation">Latest</a></li>
                    <li><a href="https://blogs.vlang.foundation">Tutorials</a></li>
                    <li><a href="https://blogs.vlang.foundation">News</a></li>
                </ul>
            </div>
            <div class="column play-column">
                <div class="title">Play</div>
                <ul>
                    <li><a href="https://play.vlang.foundation">Playground</a></li>
                </ul>
            </div>
        </nav>
        <div class="footer-bottom">
            <div class="social-links">
                <a href="https://twitter.com/v_language">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://discord.gg/vlang">
                    <i class="fa fa-discord-alt fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/vlang/v">
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCLZIElNyubHOvbfudT7KS1A">
                    <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://t.me/vlang_en">
                    <i class="fa fa-telegram fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://twitch.tv/v_language">
                    <i class="fa fa-twitch fa-2x" aria-hidden="true"></i>
                </a>
            </div>

            <div class="copyright-line">
                Copyright &copy; 2022-{{ now.Format "2006" }} V Foundation
            </div>
        </div>
    </div>
</footer>
