<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="V Open Source Community Association (VOSCA) site">

    <script type="text/javascript" src="/js/theme.js"></script>
    <link rel="stylesheet" href="/css/index.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- End Favicons -->

    <!-- Open Graph-->
    <meta property="og:title" content="V Open Source Community Association (VOSCA)">
    <meta property="og:description"
          content="Non-profit organization dedicated to the development and evolution of the V programming language">
    <meta property="og:image" content="/images/open-graph/vosca-cover.png">
    <meta property="og:site_name" content="V Open Source Community Association (VOSCA)">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://vosca.dev/">
    <!-- End Open Graph -->

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@vosca">
    <meta name="twitter:title" content="V Open Source Community Association (VOSCA)">
    <meta name="twitter:description"
          content="Non-profit organization dedicated to the development and evolution of the V programming language">
    <meta name="twitter:creator" content="@vlang-association">
    <meta name="twitter:image:src" content="/images/open-graph/vosca-cover.png">
    <!-- End Twitter Card -->

    <!-- Schema.org WebPage -->
    <script type="application/ld+json"> {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "@id": "https://vosca.dev/#webpage",
        "url": "https://vosca.dev/",
        "name": "V Open Source Community Association (VOSCA)",
        "description": "Non-profit organization dedicated to the development and evolution of the V programming language",
        "image": "/images/open-graph/vosca-cover.png",
        "inLanguage": "en-US"
    }</script>
    <!-- End Schema.org -->

    <!-- Schema.org WebSite -->
    <script type="application/ld+json"> {
        "@type": "WebSite",
        "@id": "https://vosca.dev/#website",
        "url": "https://vosca.dev/",
        "name": "V Open Source Community Association (VOSCA)"
    }</script>
    <!-- End Schema.org -->

    <title>{{ .Title | markdownify }}</title>
</head>
