<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/css/vlang-playground.css">
</head>
<body>
{{ partial "header.html" . }}

<main>
    <div class="first-page">
        <h1 class="title">
            <span class="first-line">Open Source foundation of</span>
            <span class="second-line">V Programming Language</span>
        </h1>
        <span class="subtitle">
            <a href="https://opencollective.com/vosf" target="_blank">Non-profit organization</a> dedicated to the development and evolution of the V (aka Vlang) programming language
        </span>
        <div class="buttons">
            <a href="https://blog.vlang.foundation/introducing-foundation/" class="gradient with-arrow">
                Foundation goals <span class="arrow">→</span>
            </a>
            <a href="https://vlang.io" class="border">
                Learn more about V
            </a>
        </div>
    </div>

    <div class="single-block latest-news">
        <h2>Latest news</h2>

        <div class=posts-block>
            <div class=article-cards>
                <a class=article-card href="https://blog.vlang.foundation/introducing-foundation/">
                    <span class=image>
                        <img src="https://blog.vlang.foundation/images/why-we-need-foundation/vosf-small.png"
                             alt="The V Open Source Foundation is a non-profit organization that is dedicated to the development of the V language. It is a place where people can come together to work on the V language and its ecosystem.">
                    </span>
                    <p class=date>
                        <time datetime=2023-03-30>March 30, 2023</time>
                    </p>
                    <h3 class=title>Introducing the V Open Source Foundation</h3>
                    <p class=description>Brief overview of the Foundation&rsquo;s mission</p>
                    <p class=author>
                        <span class=avatar>
                            <img src=https://blog.vlang.foundation/images/avatar/petr-makhnev.png
                                 alt="Petr Makhnev avatar">
                        </span>
                        <span>Petr Makhnev</span>
                    </p>
                </a>
            </div>
        </div>
    </div>

    <div class="single-block playground-block">
        <h2>Try V online</h2>

        <div class="playground-wrapper vlang-play">
            <pre>
            fn main() {
                areas := ['game', 'web', 'tools', 'science', 'systems',
                          'embedded', 'drivers', 'GUI', 'mobile']
                for area in areas {
                    println('Hello, ${area} developers!')
                }
            }</pre>
        </div>
    </div>

    <div class="single-block supporters-block">
        <h2>Sponsors</h2>

        <p class="note">
            We don't have sponsors yet.
            <br>
            Be the first to <a href="https://opencollective.com/vosf">support</a>
            the transparent development of the V language!
        </p>
    </div>

    <div class="email-block">
        <div class="content">
            Have a question? Write to us!
        </div>
        <div class="email">
            <a href="mailto:hello@vlang.foundation">hello@vlang.foundation</a>
        </div>
    </div>
</main>

{{ partial "footer.html" . }}

<script src="/js/vlang-playground.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let theme = window.localStorage.getItem('theme');
        if (!theme) {
            theme = "light";
        }

        if (theme === "null") {
            window.localStorage.setItem('theme', "light");
            theme = "light";
        }

        const playgroundElements = document.querySelectorAll(".vlang-play");
        playgroundElements.forEach(playgroundElement => {
            const playground = Playground.create(playgroundElement, {
                fontSize: "15px",
                highlightOnly: false,
                showFooter: true,
                showLineNumbers: true,
                theme: theme,
            });
            playgrounds.push(playground);
        });
    })
</script>

{{ partial "script.html" .}}
</body>
</html>
