@import "fonts";
@import "colors";
@import "header";
@import "footer";
@import "404-page";
@import "latest-news";
@import "single-block";
@import "email-block";
@import "sponsor-block";
@import "article-card";

* {
  box-sizing: border-box;
}

html {
  --border-button-background-hover-color: var(--gray-f9);
}

html[data-theme="dark"] {
  --border-button-background-hover-color: var(--light-transparent-gray);
}

body {
  font: 400 14px/1.5 "JetBrainsSans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  margin: 70px 0;
  padding: 0;

  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  width: 100%;
  padding: 50px 50px;

  display: grid;

  @media (max-width: 1000px) {
    padding: 50px 30px;
  }

  .first-page {
    padding: 20px 0 80px;

    @media (max-width: 1000px) {
      padding-bottom: 100px;
    }

    .title {
      font-size: 80px;
      line-height: 1.1;
      margin-bottom: 20px;

      @media (max-width: 380px) {
        font-size: 40px;
      }

      @media (max-width: 430px) and (min-width: 380px) {
        font-size: 45px;
      }

      @media (max-width: 500px) and (min-width: 430px) {
        font-size: 50px;
      }

      @media (max-width: 700px) and (min-width: 500px) {
        font-size: 60px;
      }

      @media (max-width: 1000px) {
        .second-line {
          background: linear-gradient(357deg, #4CF1FD -0.81%, #0176D1 98.3%) !important;
          -webkit-background-clip: text !important;
        }
      }

      .first-line {
        font-weight: 400;
      }

      .second-line {
        font-weight: 900;

        background: linear-gradient(261.61deg, #4CF1FD -0.81%, #0176D1 98.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }

    .subtitle {
      display: block;
      font-size: 17px;
      margin-bottom: 60px;
      margin-left: 5px;
      color: var(--secondary-color);

      a {
        color: var(--secondary-color);
        text-decoration: none;

        &:hover {
          color: var(--text-color) !important;
          border-bottom: 1px solid var(--text-color);
        }

        &:visited {
          color: var(--secondary-color);
        }
      }
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 20px;

      a {
        padding: 15px 30px 15px;
        border: none;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        color: var(--text-color);
        text-decoration: none;

        line-height: 1;

        &.with-arrow {
          display: grid;
          grid-template-columns: max-content max-content;
        }

        &:hover {
          .arrow {
            transform: translateX(13px);
          }
        }

        .arrow {
          display: block;
          transition: 0.15s ease-in-out;
          transform: translateX(8px);
        }

        &.gradient {
          padding-top: 15px;
          background: linear-gradient(261.61deg, #21a3e1 -0.81%, #0176D1 98.3%);
          color: var(--white);

          transition: box-shadow 0.15s ease-in-out;
        }

        &.border {
          padding: 14px 30px 12px;

          position: relative;
          display: block;
          transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;

          border: 1px solid var(--secondary-color);

          font-weight: 500;

          &:hover {
            background-color: var(--border-button-background-hover-color);
          }
        }
      }
    }
  }
}
